<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand" >CutomerInfo</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass] = "{active: act}">
            <a routerLink = "" class="nav-link nav-text" (click) = "acti()" >Customer</a>
          </li>
          <li class="nav-item" [ngClass] = "{active: !act}">
            <a routerLink = "customerDetail" (click) = "set()" class="nav-link nav-text" >Customer Details</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
