section {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
}

h1{
    font-weight: bolder;
    font-size: 2.5rem;
}

.list-item {
    background-color: silver;
    cursor: pointer;
}

section::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.example-card {
    margin-top: 10px;
}

mat-card-content {
    padding-left: 55px;
    font-size: 30px;
    font-weight: bold;
}

mat-card-subtitle {
    font-size: medium;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

  