<section *ngIf = "!customerClicked">
    <h1>customer Detail</h1>
    <div  *ngFor="let user of responseData">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>#{{user.id}}</mat-card-title>
              <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{user.address.street}},
                &nbsp;
                {{user.address.suite}},
                &nbsp;
                {{user.address.city}}
              </p>
            </mat-card-content>
          </mat-card>
    </div>
</section>
<section *ngIf = "customerClicked">
    <h1>customer Detail</h1>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>#{{responseData[index].id}}</mat-card-title>
              <mat-card-subtitle>{{responseData[index].name}}</mat-card-subtitle>
              <mat-card-subtitle>{{responseData[index].email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{responseData[index].address.street}},
                &nbsp;
                {{responseData[index].address.suite}},
                &nbsp;
                {{responseData[index].address.city}}
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="buttons mt-4">
        <button mat-stroked-button color="primary"  [disabled] = "index == 0" (click)="previous()">Previous</button>
        <button mat-stroked-button color="primary"  [disabled] = "index == responseData.length-1" (click)="next()">Next</button>
    </div>

</section>
