section {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}
h1{
    font-weight: bolder;
    font-size: 2.5rem;
}

.list-item {
    background-color: silver;
    cursor: pointer;
}

section::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}