<section>
    <h1>Customers</h1>
    <mat-list role="list" *ngFor="let user of responseData">
        <mat-list-item class="list-item" role="listitem" (click)="customerDetail(user.id)">{{user.name}}</mat-list-item>
    </mat-list>
</section>

